@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
* These styles were added to improve the appearance of the example pages.
* It is safe to delete them, and they are not intended to be used by Refine components.
*/
@layer base {
  :root {
    --DataGrid-containerBackground: transparent;
  }

  .Muidatagrid-root .Muidatagrid-container--top [role='row'],
  .Muidatagrid-root .Muidatagrid-container--bottom [role='row'] {
    @apply bg-transparent text-accent;
  }
  button {
    @apply border border-gray-300 px-2 rounded-sm bg-[#EFEFEF];
  }

  h1 {
    @apply text-2xl font-bold my-6;
  }

  label {
    @apply text-sm font-medium;
  }

  body {
    @apply m-0 bg-white;
  }

  table {
    @apply border border-black border-collapse;
  }

  table th,
  table td {
    @apply m-0 p-2 border-b border-r border-black;
  }

  table tr:last-child td {
    @apply border-b-0;
  }

  table th:last-child,
  table td:last-child {
    @apply border-r-0;
  }

  .layout {
    @apply flex gap-4;
  }

  @media (max-width: 751px) {
    .layout {
      @apply block;
    }
  }

  .layout .content {
    @apply flex flex-col flex-grow overflow-scroll scroll-m-0 scroll-p-0;
  }

  .breadcrumb {
    @apply flex gap-6 p-2 px-4 border-b border-gray-300;
    list-style-type: '/ ';
  }

  .breadcrumb a {
    @apply text-blue-700 no-underline;
  }

  ::-webkit-scrollbar {
    @apply w-4;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  content::-webkit-scrollbar-thumb {
    @apply hover:opacity-10 bg-accent rounded-sm border-solid border-l-accent;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset; /* Background fix */
    -webkit-text-fill-color: black; /* Text color fix */
    font-size: 16px; /* Adjust font size to match */
    color: black;
  }

  /* For Firefox */
  * {
    @apply scrollbar-thin scrollbar-thumb-accent scrollbar-track-transparent  scroll-smooth;
  }
}
